.col-centered
{
    float: none;
    margin: 0 auto;
    display: inline-block;
}

.delete_data
{
    float: right;
}

#bs-example-navbar-collapse-1
{
    padding-top: 20px; /*emmet = pt20 tab*/
}

nav
{
    min-height: 90px !important;    /*emmet = mh90 tab*/
}

#schedule_slots_table td {
    height: 75px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: bold;
}

#booking_slots_table td {
    height: 75px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: bold;
}

#temp_appt_slots_table td {
    height: 50px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: bold;
}


#slots_legends{
    list-style: none;
    margin:0;
    padding:10px 0px;
}

#slots_legends li {
    padding: 5px 10px;
    color:white;
    font-weight:bold;
}

.bg-green{
    background-color: green;
}

.bg-red{
    background-color:red;
}

.bg-grey{
    background-color:darkgray;
}


.slot-box.bg-green:hover{
    cursor: pointer;
}

.selected-box{
    background-color: aqua;
    color:black !important;
}

.form-control2 {
    width:25px;
}
